{% extends "base.html" %}

{% block tilte %}
Foodhub
{% endblock %}

{% block content %}
	<div class="col-md-12">
		<h1><strong>More Details :</strong></h1>
	</div>
	<div class="col-md-12">
		<hr style="height:2px;background-color:black;border:none;" noshade />
	<!-- {% if instance.image %}
        <img src="{{details.image.url}}" alt="" class="img-fluid">
    {% endif %} -->
    	
    	
		<!-- {{details}} -->
		<h4>Restaurant name : {{details.name}}</h4>
		
		<hr style="height:2px;background-color:black;border:none;" noshade />
	</div>
	<div class="col-md-12">
		<a href="{% url 'restaurants_list' %}"><button type="button" class="btn btn-primary">Back</button></a>
	</div>
	<!-- <h1><strong>Chicken</strong></h4>
	<h4>{{Chicken}}</h1>
	<h1><strong>Steaks</strong></h4>
	<h4>{{Steaks}}</h1>
	<h1><strong>Fish</strong></h4>
	<h4>{{Fish}}</h1> -->
{% endblock content %}
