{% extends "base.html" %}

{% block tilte %}
Foodhub
{% endblock %}

{% block content %}
	<h1><strong>The List of Dishes :</strong></h1>
	<hr style="height:2px;background-color:black;border:none;" noshade />
	{{details}}
	<hr style="height:2px;background-color:black;border:none;" noshade />
	<a href="{% url 'restaurants_list' %}">"Back"</a>
	<!-- <h1><strong>Chicken</strong></h4>
	<h4>{{Chicken}}</h1>
	<h1><strong>Steaks</strong></h4>
	<h4>{{Steaks}}</h1>
	<h1><strong>Fish</strong></h4>
	<h4>{{Fish}}</h1> -->
{% endblock content %}
